<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

    <head th:replace="~{layout/plantilla :: head}">
        <title>Farmacia</title>
    </head>

    <body>
        <header th:replace="~{layout/plantilla :: header}" />

        <div class="container">
            <section class="landing">
                <div class="landing-content">
                    <span class="special-heading">Tu salud, nuestra prioridad</span>
                    <p>En Farmacias Santiago, nos dedicamos a brindarte los mejores productos y servicios para el cuidado de
                        tu salud y bienestar. Con un equipo de profesionales comprometidos y una amplia variedad de
                        medicamentos, suplementos y artículos de cuidado personal, somos tu mejor opción para encontrar todo
                        lo que necesitas en un solo lugar.</p>
                </div>
                <div class="landing-img">
                    <img th:src="@{images/farma_landing.jpg}" alt="" srcset="">
                </div>
            </section>

            <section class="video-producto">
                <h2>Algunos de nuestros productos</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/CIp33P9Io9g?si=rHce2ZdsnIVOe84n"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </section>

            <section class="main">
                <h2>Descubrí que podés hacer</h2>
                <div class="main-cards">
                    <article class="main-card">
                        <div class="main-card-heading">
                            <div></div>
                            <h3>Categorias</h3>
                        </div>
                        <div class="main-card-content">
                            <p>Descubrir las diferentes tipos de categorias de nuestra farmacia</p>
                        </div>
                        <div class="main-card-btns">
                            <a href="" class="secondary-btn">Ver Categorias</a>
                        </div>
                    </article>
                    <article class="main-card">
                        <div class="main-card-heading">
                            <div></div>
                            <h3>Productos</h3>
                        </div>
                        <div class="main-card-content">
                            <p>Agregá nuevos productos a la farmacia</p>
                        </div>
                        <div class="main-card-btns">
                            <a href="" class="secondary-btn">Añadir productos</a>
                        </div>
                    </article>
                    <article class="main-card">
                        <div class="main-card-heading">
                            <div></div>
                            <h3>Quejese aqui!</h3>
                        </div>
                        <div class="main-card-content">
                            <p>Tiene algun problema con nuestra farmacia? Diay quejese.</p>
                        </div>
                        <div class="main-card-btns">
                            <a href="" class="secondary-btn">Ver Categorias</a>
                        </div>
                    </article>
                </div>
            </section>
        </div>

        <footer th:replace="~{layout/plantilla :: footer}" />
    </body>

</html>