<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

    <head th:replace="~{layout/plantilla :: head}">
        <title>Farmacia</title>
    </head>

    <body>
        <header th:replace="~{layout/plantilla :: header}" />

        <section class="container" style="margin-top:40px">

            <h1>Encuentra lo que necesitas.</h1>
            <p>Farmacia Santiago es tu mejor opción en salud y bienestar. Ofrecemos una amplia variedad de medicamentos,
                productos de cuidado personal y asesoría profesional para garantizar el mejor servicio. Con atención
                personalizada y precios accesibles, en Farmacia Santiago, tu bienestar es nuestra prioridad.</p>

            <br />
            <br />
            <iframe width="560" height="315" src="https://www.youtube.com/embed/CIp33P9Io9g?si=rHce2ZdsnIVOe84n"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen="true"></iframe>
            
            <br>
            <br>
            <h2>Visitanos</h2>
            Nos ubicamos en Cartago, 500m sur de los tribunales de justicia. Vení y visitanos!
        </section>
        
        <br>
        <br>

        <footer th:replace="~{layout/plantilla :: footer}" />
    </body>

</html>