<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>

    <body>
        <header th:replace="~{layout/plantilla :: header}" />


        <section id="categorias" class="container">

            <h1>Listado de productos</h1>

            <article class="kpi">
                <h3>Categorias</h3>
                <p>[[${totalCategorias}]]</p>
            </article>

            <div th:if="${categorias != null and !categorias.empty}" class="tabla-section">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Descripcion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="categoria, contador : ${categorias}">
                            <td>[[${contador.count}]]</td>
                            <td>[[${categoria.descripcion}]]</td>
                            <td class="tabla-btns"><a th:href="@{/categoria/eliminar/}+${categoria.id}" class="btn-eliminar">
                                    Eliminar</a>
                                <a th:href="@{/categoria/modificar/}+${categoria.id}" class="btn-actualizar">
                                    Actualizar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </section>

        <footer th:replace="~{layout/plantilla :: footer}" />

    </body>

</html>